/* @import url()  doit toujours être au début + Ne pas mettre *{margin:0} car tailwind le fait apr défaut et sinon ça bloque tout les margin*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap");

@import "tailwindcss";

/* pas la peine de faire *{margin:0; padding:0} car tailwind le fait automatiquement et si on le fait ça bloque les margin qu'on met */
* {
  scroll-behavior: smooth;
}

@layer utilities {
  .martian-mono {
    font-family: "Martian Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }

  .font-roboto {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .font-roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .playwrite {
    font-family: "Playwrite AU SA", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .montserrat-medium {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  .montserrat-strong {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

  .martian-mono-regular {
    font-family: "Martian Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }

  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .padding {
    @apply px-8 py-10 sm:px-12;
  }

  .padding-x {
    @apply px-8 sm:px-16;
  }

  .padding-y {
    @apply py-12 sm:py-24;
  }

  .padding-l {
    @apply pl-8 sm:pl-16;
  }

  .padding-r {
    @apply pr-8 sm:pr-16;
  }

  .padding-t {
    @apply pt-12 sm:pt-24;
  }

  .padding-b {
    @apply pb-12 sm:pb-24;
  }
}

/*  background-position:X Y; => it's the position of the color: 0% means it starts from the left for x and Top for y */
/* 0%{background-position: 0% 50%;} = Start of the animation the bg is positionned left edge and vertically centered  */
/* 50% { ...: 100% 50% } = the halfway throught the animation, the bg moves fully to the right  */
/* 50% { ...: 0% 50% } = the end of the animation, the bg moves returns to start */
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Custom class for animated gradient => la 1ere couleur est à gauche puis se déroule vers la gauche avec la 2eme puis la 3eme; puis la 1ere reviens vers la droite*/
.bg-animated-gradient {
  background: linear-gradient(to right, #131a25, #022066, #131a25);
  background-size: 200% 200%;
  animation: gradientShift 15s ease infinite;
}
